@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

::-webkit-scrollbar{
    display: none;
}

.download{
    background: #E02325;
    box-shadow: 0px 4px 20px 0px #E02325;
    color: white;
}

.active{
    background-color: black;
    color: white;
}

button{
    font-weight: 700;
}

a{
    font-weight: 700;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-text {
    display: inline-block;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}