@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: red;
}

::-webkit-scrollbar{
    display: none;
}

.download{
    background: #E02325;
    box-shadow: 0px 4px 20px 0px #E02325;
}

.active{
    background-color: black;
    color: white;
}